In [2]:
#import comet_ml at the top of your file
from comet_ml import Experiment

#Create an experiment with your api key
experiment = Experiment(
    api_key="ft9bQJNpoK4ByQmIjOxdKgvoE",
    project_name="medical-appointment",
    workspace="vv77v",
)

COMET WARNING: As you are running in a Jupyter environment, you will need to call `experiment.end()` when finished to ensure all metrics and code are logged before exiting.
COMET INFO: Experiment is live on comet.ml https://www.comet.ml/vv77v/medical-appointment/be0d5f04e6f04e47aece97aab154dffe

In [3]:
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt

## Загрузка данных

In [4]:
numeric_data = pd.read_csv('KaggleV2-May-2016.csv')

In [5]:
numeric_data.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
# Удалим эти аномальные значения
numeric_data = numeric_data[(numeric_data.Age >= 0) & (numeric_data.Age <= 110)]
numeric_data.Age.value_counts()

0      3539
1      2273
52     1746
49     1652
53     1651
       ...
97       11
98        6
100       4
102       2
99        1
Name: Age, Length: 102, dtype: int64

In [7]:
numeric_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110521 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110521 non-null  float64
 1   AppointmentID   110521 non-null  int64
 2   Gender          110521 non-null  object
 3   ScheduledDay    110521 non-null  object
 4   AppointmentDay  110521 non-null  object
 5   Age             110521 non-null  int64
 6   Neighbourhood   110521 non-null  object
 7   Scholarship     110521 non-null  int64
 8   Hipertension    110521 non-null  int64
 9   Diabetes        110521 non-null  int64
 10  Alcoholism      110521 non-null  int64
 11  Handcap         110521 non-null  int64
 12  SMS_received    110521 non-null  int64
 13  No-show         110521 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 12.6+ MB

### кодировка категориальных признаков

In [8]:
numeric_data.drop(['AppointmentID', 'PatientId', 'ScheduledDay', 'AppointmentDay', 'No-show'], axis=1, inplace = True)

In [9]:
numeric_data.head()

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,F,62,JARDIM DA PENHA,0,1,0,0,0,0
1,M,56,JARDIM DA PENHA,0,0,0,0,0,0
2,F,62,MATA DA PRAIA,0,0,0,0,0,0
3,F,8,PONTAL DE CAMBURI,0,0,0,0,0,0
4,F,56,JARDIM DA PENHA,0,1,1,0,0,0

In [10]:
sns.heatmap(numeric_data.corr(), annot = True)
experiment.log_figure(figure=plt)

In [11]:
experiment.end() #окончание эксперимента. после никакие графики тудa не попадают.

COMET INFO: ---------------------------
COMET INFO: Comet.ml Experiment Summary
COMET INFO: ---------------------------
COMET INFO:   Data:
COMET INFO:     display_summary_level : 1
COMET INFO:     url                   : https://www.comet.ml/vv77v/medical-appointment/be0d5f04e6f04e47aece97aab154dffe
COMET INFO:   Uploads:
COMET INFO:     environment details      : 1
COMET INFO:     filename                 : 1
COMET INFO:     git metadata             : 1
COMET INFO:     git-patch (uncompressed) : 1 (847 bytes)
COMET INFO:     installed packages       : 1
COMET INFO:     notebook                 : 1
COMET INFO:     source_code              : 1
COMET INFO: ---------------------------
COMET INFO: Uploading metrics, params, and assets to Comet before program termination (may take several seconds)
COMET INFO: The Python SDK has 3600 seconds to finish before aborting...