Вам предстоит решить настоящую бизнес-задачу: проанализировать эффективность обоих вариантов посадочной страницы сразу по двум критериям: конверсии покупки и среднему чеку. На основе проведённого анализа необходимо сделать выводы и принять решение: какой из вариантов дизайна более предпочтительный.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('ab_data_tourist.csv')
data.head()

   user_id        date group  purchase   price
0   851104  2021-01-21     A         0       0
1   804228  2021-01-12     A         0       0
2   661590  2021-01-11     B         0       0
3   853541  2021-01-08     B         0       0
4   864975  2021-01-21     A         1  150000

user_id -	идентификатор пользователя, зашедшего на сайт

date -	дата захода

group   -	группа теста (контрольная — А или тестовая — B)

purchase -	признак покупки: совершил ли пользователь покупку тура (1 — да, 0 — нет)

price -	цена купленного тура (если покупка не состоялась, цена равна 0)