In [1]:
import pandas as pd
pd.__version__

'1.4.1'

###### starttime — время начала поездки (дата, время);
###### stoptime — время окончания поездки (дата, время);
###### start station id — идентификатор стартовой стоянки;
###### start station name — название стартовой стоянки;
###### start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
###### end station id — идентификатор конечной стоянки;
###### end station name — название конечной стоянки;
###### end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
###### bikeid — идентификатор велосипеда;
###### usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
###### birth year — год рождения клиента;
###### gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [15]:
Citi_Bike = pd.read_csv('data/citibike-tripdata.csv', sep=',') 
Citi_Bike.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [16]:
citi_b = Citi_Bike.copy() # СОЗДАНИЕ КОПИИ ТАБЛИЦЫ ! ! !
citi_b.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [4]:
# 6.1 Сколько пропусков в столбце start station id? (всего 300 тыщ поездок)
citi_b.describe().loc[:, ['start station id']]

       start station id
count     299831.000000
mean        1695.665665
std         1458.264055
min           72.000000
25%          387.000000
50%          519.000000
75%         3282.000000
max         3705.000000

In [5]:
# 6.2 Какой тип данных имеют столбцы starttime и stoptime?
citi_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [6]:
# 6.3 Найдите идентификатор самой популярной стартовой стоянки. 
# Запишите идентификатор в виде целого числа.
print(citi_b['start station id'].mode()[0])

281.0

In [7]:
# 6.4 Велосипед с каким идентификатором является самым популярным?
print(citi_b['bikeid'].mode()[0])

33887

In [8]:
# Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? 
# В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов.
# Ответ округлите до сотых.
mode_usertype = citi_b['usertype'].mode()[0]
count_mode_user = citi_b[citi_b['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citi_b.shape[0], 2))

0.77

In [9]:
# Кто больше занимается велоспортом — мужчины или женщины? 
# В ответ запишите число поездок для той группы, у которой их больше.
male_count = citi_b[citi_b['gender'] == 1].shape[0]
female_count = citi_b[citi_b['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [10]:
# Число уникальных стартовых и конечных стоянок,
# которыми воспользовались клиенты, не равны друг другу
print(citi_b['start station id'].nunique())
print(citi_b['end station id'].nunique())

759
765

In [11]:
# В рассматриваемые дни минимальный возраст клиента составлял 10 лет

In [17]:
#В первую очередь удалим лишнюю информацию из данных.
#В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: 
# это столбцы с идентификатором и названием стартовой и конечной стоянки. 
# Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?
citi_b.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citi_b.shape[1])

12

In [19]:
# Замените признак birth year на более понятный признак возраста клиента age. 
# Годом отсчёта возраста выберите 2018 год. 
# Столбец birth year удалите из таблицы.
# Сколько поездок совершено клиентами старше 60 лет?
citi_b['age'] = 2018 - citi_b['birth year']
citi_b.drop(['birth year'], axis=1, inplace=True)
print(citi_b[citi_b['age'] > 60].shape[0])

11837

In [22]:
# Создайте признак длительности поездки trip duration. 
# Для этого вычислите интервал времени между временем окончания поездки (stoptime) 
# и временем её начала (starttime) в секундах. 
# В качестве ответа запишите среднюю длительность поездки в секундах. 
# Ответ округлите до целого.
citi_b['starttime'] = pd.to_datetime(citi_b['starttime'])
citi_b['stoptime'] = pd.to_datetime(citi_b['stoptime'])
citi_b['trip duration'] = (citi_b['stoptime'] - citi_b['starttime']).dt.seconds
print(round(citi_b['trip duration'].mean()))

1000

In [23]:
# Создайте «признак-мигалку» weekend, который равен 1,
# если поездка начиналась в выходной день (суббота или воскресенье), 
# и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.
weekday = citi_b['starttime'].dt.dayofweek
citi_b['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citi_b['weekend'].sum()

115135

In [24]:
# Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
# поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
# поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
# поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
# поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
# Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citi_b['time_of_day'] = citi_b['starttime'].dt.hour.apply(get_time_of_day)
a = citi_b[citi_b['time_of_day'] == 'day'].shape[0]
b = citi_b[citi_b['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9